<h1>Create new meeting</h1>

<form action="/meeting/create" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="woEmail">woEmail</label>
    <input type="text" name="woEmail">

    <label for="translatorEmail">translatorEmail</label>
    <input type="text" name="translatorEmail">

    <label for="participants">participants</label>
    <input type="text" name="participants">

    <label for="caseInfo">caseInfo</label>
    <input type="text" name="caseInfo">

    <label for="address">address</label>
    <input type="text" name="address">

    <label for="date">date</label>
    <input type="text" name="date">

    <label for="time">time</label>
    <input type="text" name="time">

    <button type="submit">Create new meeting</button>
</form>