<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Serif+JP" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .logo {
            font-weight: 100;
            font-size: 3rem;
            font-family: 'Noto Serif JP', sans-serif;
            color: white
        }
    </style>
</head>

<body>
    <nav>
        <p class="logo">translatorcon</p>
        <div class="nav-profile">
            <a href="/profile/show">Show profile</a>
            <a href="/profile/edit">Edit Profile</a>
            <a href="/meeting">Meeting overview</a>
            <a href="/filter/">Browse translators</a>
        </div>
        <div class="nav-login">
            <a href="/signup">Sign up</a>
            <a href="/logout">Log out</a>
            <a href="/login">Log in</a>
        </div>

    </nav>
    <div class="body-container">

        {{{body}}}

    </div>
    <script src='/javascripts/script.js'></script>
</body>

</html>